<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2>Ember Liquid Fire and CSS Transitions</h2>
      <p>Recently at work, I rebuilt an existing app in Ember-CLI.
      The app had a lot of animation between pages,
      so I took this opportunity to introduce myself to <a href="https://github.com/ember-animation/liquid-fire">Liquid Fire</a>.
      I found documentation a bit lacking and it took me a little while
      to wrap my head around it. My goal was to use Liquid Fire
      just as a way of enabling me to use CSS transitions to transition between routes.
      </p>
      {{#link-to "index" class="btn btn-primary btn-lg" role="button"}}Main Page{{/link-to}}
    </div>
  </div>
</div>
